* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

:root {
  --Orbit: "Orbitron", comfortaa;
  --Poppins: "Poppins", sans-serif;
}

/* .blob {
  position: absolute;
  width: 576px;
  height: 576px;
  background: radial-gradient(circle,
      rgba(0, 120, 200, 1) 0%,
      rgba(0, 120, 200, 0.8) 25%,
      rgba(0, 120, 200, 0.4) 45%,
      transparent 70%);
  filter: blur(5px);
  z-index: 1;
}

.blob-top-right {
  top: -180px;
  right: -220px;
}

.blob-bottom-left {
  bottom: -170px;
  left: -190px;
} */

.About {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
  overflow: hidden;
}

.txt-cnt {
  /* border: 1px solid; */
  width: 65%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vmax;
}

.about-section-head{
  font-family: Orbitron;
  position: relative;
  font-size: 50px;
  padding-left: 100px;
  font-weight: bold;
}

.r{
  text-align: right;
  padding-right: 5.5vmax;
}

.about-section-par {
  font-family: Poppins;
  position: relative;
  text-align: justify;
  font-size: 1vmax;
  padding-left: 100px;
  z-index: 5;
  padding-right: 100px;
}


/* ------------------------- */


.WeOffer {
  /* position: relative; */
  background: #fff;
  padding: 2vmax 0;
  height: 100vh;
  width: 100%;
  /* border: 1px solid; */
}

.WeOffer::after {
  position: absolute;
  content: '';
  height: 2vmax;
  width: 20vmax;
  background: linear-gradient(to right, #007bff, #4da3ff);
  top: 0;
  margin-top: 4vmax;
}

.WeOffer::before {
  position: absolute;
  content: '';
  height: 2vmax;
  width: 20vmax;
  background: linear-gradient(to right, #4da3ff, #007bff);
  bottom: 0;
  right: 0;
  margin-bottom: 4vmax;
}

.title {
  font-family: var(--Orbit);
  font-size: 3vmax;
  display: block;
  text-align: center;
}

.images {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 60px;
  /* border: 1px solid; */
  height: 70%;
}

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  height: 33vmax;
  width: 23vmax;
  /* border: 1px solid; */
  padding: 2vmax;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.ed {
  background-image: linear-gradient(rgba(0, 16, 67, 0.6)), url(../assets/about/ED.avif);
  background-position: center;
  background-size: cover;
}

.ps {
  background-image: linear-gradient(rgba(0, 16, 67, 0.6)), url(../assets/about/PS.jpg);
  background-position: center;
  background-size: cover;
}

.aa {
  background-image: linear-gradient(rgba(0, 16, 67, 0.6)), url(../assets/about/AA.webp);
  background-position: center;
  background-size: cover;
}

.icon-head {
  font-family: var(--Orbit);
  font-size: 1.7vmax;
  color: #fff;
  margin: 1vmax 0;
  transition: 0.3s ease-in-out;
  height: 7vmax;
  text-align: left;
}

.ico-par {
  /* width: 20vmax; */
  font-size: 1vmax;
  text-align: left;
  color: #fff;
  font-family: var(--Poppins);
  transform: translateX(22vmax);
  transition: 0.3s ease-in-out;
}

.icon-a {
  position: absolute;
  bottom: 0;
  font-size: 1vmax;
  color: #fff;
  font-family: var(--Orbit);
  font-weight: 500;
  transform: translateY(2vmax);
  transition: 0.3s;
  text-decoration: none;
  padding: .5vmax 1vmax;
  border: none;
  cursor: pointer;
}

.icon-a:hover {
  background-color: #fff;
  color: #000;
}

.icon:hover .ico-par {
  transform: translateX(0);
}

.icon:hover .icon-a {
  transform: translateY(-3vmax);
}

/* ----------------------------- */

.WhyCyberShield {
  background-color: rgba(0, 141, 217, 100);
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  align-items: center;
  /* border: 1px solid; */
  height: 80%;
  padding: 1vmax 20vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vmax;
}

.content-head {
  color: white;
  margin-top: 1.5vmax;
  font-size: 90px;
  font-family: var(--Orbit);
  text-align: left;
}

.content-par {
  font-size: 1vmax;
  color: white;
  font-family: var(--Poppins);
}

/* ---------------------------------- */

.impact {
  background: linear-gradient(to bottom,
      #008dd9 0%,
      #ffffff 60%,
      #ffffff 100%);
  padding: 100px 50px;
  height: 80vh;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vmax;
}

.impact-head{
  color: #000;
  margin-top: 2vmax;
  font-size: 2vmax;
  font-family: var(--Orbit);
  text-align: center;
}

.impact-par{
  font-size: .9vmax;
  width: 50vmax;
  text-align: center;
  color: #000;
  font-family: var(--Poppins);
}


/* ----------------------- */

.certifications {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid; */
  gap: 2vmax;
}

/* ----------------------- */
