
.ftr{
    height: 17vmax;
    width: 100%;
    background-color: rgb(16, 16, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lnk{
    height: 50%;
    width: 80%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmax;
}

.ftr-a{
    font-size: 1vmax;
    color: gray;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.ftr-a:hover{
    color: rgb(209, 209, 209);
}

.ftr-end-par{
    font-size: .9vmax;
    color: gray;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    padding: 2vmax 0;
}

.ftr-logo-en{
    font-size: 2vmax;
    color: rgb(82, 82, 82);
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
    padding: 2vmax 0;
    user-select: none;
}