html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

.main-content {
  padding-top: 5vmax;
  height: auto;
  background-color: #FFFFFF;
  background-image: url(../assets/wall.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 80%;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid; */
}

.page-title {
  font-family: 'Orbitron', sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #000000;
  /* margin: 0; */
}

.page-title-head {
  font-size: 1vmax;
  font-family: var(--Poppins);
  color: #000;
}

.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vmax;
  margin-top: 40px;
  /* border: 1px solid; */
}

.ser-tag {
  height: 15vmax;
  width: 100%;
  transition: 0.3s;
  display: flex;
  margin: 1vmax 0;
  cursor: pointer;
  background-color: #86868659;
}

.sec {
  height: 100%;
  width: 50%;
  /* border: 1px solid; */
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: .5vmax;
}

.ser-sec-head {
  font-family: var(--Orbit);
  font-size: 1.2vmax;
}

.ser-sec-par {
  font-size: .8vmax;
  font-family: var(--Poppins);
  color: #000;
}

.ser-sec-a {
  width: auto;
  color: #000;
  text-decoration: none;
  font-family: var(--Orbit);
  font-weight: 500;
  font-size: 1vmax;
}

.sec-pic1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/password.jpg);
  background-size: cover;
  background-position: center;
}

.sec-pic2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/textenc.jpg);
  background-size: cover;
  background-position: center;
}

/* ------------------------------------ */